---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
UseTab: Never

---
Language: Cpp

AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly

BreakBeforeBraces: Custom
BraceWrapping:   
  AfterClass:            false
  AfterControlStatement: false
  AfterEnum:             false
  AfterFunction:         false
  AfterNamespace:        false
  AfterObjCDeclaration:  false
  AfterStruct:           false
  AfterUnion:            false
  BeforeCatch:           false
  BeforeElse:            false
  IndentBraces:          false

Cpp11BracedListStyle: false

MaxEmptyLinesToKeep: 2

---

