[submodule "mec-max/source/max-api"]
	path = mec-max/source/max-api
	url = https://github.com/Cycling74/max-api.git
[submodule "external/SoundplaneLite"]
	path = external/SoundplaneLite
	url = https://github.com/thetechnobear/SoundplaneLite
