**/.DS_Store
*.swp
*.lock
profile
**/build/*
build

**/*.sublime-workspace
cmake-build*/

.idea/workspace.xml
.idea/tasks.xml

#Xcode
xcuserdata
#contents.xcworkspacedata
DerivedData/
build/
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
Pods/
Podfile.lock
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout

**/*.pd_linux
**/*.pd_darwin
**/*.dll
**/*.o
**/*.so
**/*.dylib


